@{
    ViewBag.Title = "معرفی سامانه فروش سیمان";
}
@*<h2>@ViewBag.Title</h2>
<br />*@
<style>
    .AboutImg::after {
        content: "درباره ما";
        position: absolute;
        color: midnightblue;
        top: 260px;
        white-space: pre;
        right: 43%;
        transform: translateX(50%);
        font-weight: bold;
        font-size: 30px;
    }
    .panel-info {
        width : 50%;
        transition-property :all;
        transition-duration : 1.5s;
        
    }
    .panel-info:hover {
        width : 100%;
        
    }


</style>
<div class="AboutImg">
    <img src="~/Content/Images/02RHG.About-US.jpg" style="top: 0px; left: 0px; width: 100%; max-height: 100%; z-index: -10; border: solid; border-width: 7px; border-color: #e1e1e1; -webkit-box-shadow: 0 7px 2px #777; -moz-box-shadow: 0 7px 2px #777; box-shadow: 0 7px 2px #777;" class="img-responsive">
</div>
<br />
    <div class="panel panel-info">
        <h1 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px; color:midnightblue; background-color :lightslategray;">مصالح پخش برخط در یک نگاه:</h1>
        <p class="panel-body" style="font-size: 16px; padding-top: 5px;background-color : lightsteelblue;">
            شرکت مصالح پخش برخط فعالیت حرفه ای خود را در سال 1396 شروع کرده و در سال 1400 مجوزهای لازم را در زمینه توزیع مصالح ساختمانی در سراسر ایران دریافت کرده است.
            <br />
        </p>
    </div>
    <br />
    <div class="panel panel-info">
        <h2 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px; color:saddlebrown; background-color:burlywood;">خدمات مصالح پخش برخط:</h2>
        <p class="panel-body" style="font-size: 16px; padding-top: 5px;background-color:cornsilk;">
            تأمین کننده مصالح ساختمانی اشخاص حقیقی، سازمان های خصوصی و دولتی با نازل ترین قیمت
            <br />
            ارسال محصولات خریداری شده با کمترین زمان و هزینه حمل به تمام نقاط کشور
            <br />
            ارائه لحظه به لحظه قیمت مصالح ساختمانی
            <br />
        </p>
    </div>
    <br />
    <div class="panel panel-info">
        <h2 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px; color:red; background-color :lightsalmon;">اهداف و ارزش های مصالح پخش برخط:</h2>
        <p class="panel-body" style="font-size: 16px; padding-top: 5px;background-color : bisque;">
            مصالح پخش برخط با بهره گیری از افراد متخصص بر آن است تا با اتکا به اعتماد شما مشتریان عزیز در ارایه هر چه بهتر خدمات، شرایط مناسبی را برای خرید آسان شما فراهم نمایید.
            <br />
            ما بر آنیم تا با ایجاد روابط صحیح و سالم بین خود و مشتریان بر پایه اصول مشتری مداری احساس رضایتمندی را به شما عرضه نماییم.  امید است بتوانیم به آنچه گفته و اعتقاد داریم عمل نماییم.
            <br />
        </p>
    </div>
    <br />

