@{
    ViewBag.Title = "معرفی سامانه فروش سیمان";
}
<h2>@ViewBag.Title</h2>
<br />
<div class="panel panel-info">
    <h1 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px;">اهداف</h1>
    <p class="panel-body" style="font-size: 16px; padding-top: 5px;">
        1.در این بخش اهداف تعریف شود.
        <br />
        2.در این بخش اهداف تعریف شود.
        <br />
        3.در این بخش اهداف تعریف شود.
        <br />
    </p>
</div>
<br />
<div class="panel panel-info">
    <h2 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px;">وظايف اساسي</h2>
    <p class="panel-body" style="font-size: 16px; padding-top: 5px;">
        در این بخش وظایف تعریف شود
        <br />
        در این بخش وظایف تعریف شود
        <br />
        در این بخش وظایف تعریف شود
        <br />
        و ...
        <br />
    </p>
</div>
<br />
