@{
    ViewBag.Title = "ارتباط با ادمین سامانه";
}
<h2>@ViewBag.Title</h2>
<br />
<div class="panel panel-info">
    <h1 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px;">سامانه فروش سیمان</h1>
    <p class="panel-body" style="font-size: 16px; padding-top: 5px;">
        شماره تماس : 09133966939
        <br />
        شماره ثابت : 021-00000000
        <br />
    </p>
</div>
<br />