@{
    ViewBag.Title = "ارتباط با ادمین سامانه";
}
@*<h2>@ViewBag.Title</h2>
<br />*@
<div class="panel panel-info">
    <h1 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px; color:red">در صورت بروز هرگونه مشکل می توانید با شماره های زیر تماس بگیرید:</h1>
    <p class="panel-body" style="font-size: 16px; padding-top: 5px;">
        شماره تماس : 09133966939
        <br />
        شماره تماس : 09033966939
        <br />
        شماره تماس : 09051520102
        <br />
        شماره تماس : 03532437587
        <br />
    </p>
</div>
<br />