@{
    ViewBag.Title = "حساب تعریف نشده";
}
<h2>@ViewBag.Title</h2>
<br />
<div class="panel panel-info">
    <h1 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px;">سازمان دامپزشکی کل کشور</h1>
    <p class="panel-body" style="font-size: 16px; padding-top: 5px;">
        برای سرفصل و استان انتخابی این شماره فاکتور هیچ حسابی تعریف نشده است!
        <br />
        لطفا ابتدا برای استان و سرفصل انتخابی حساب تعریف کنید
        <br />
    </p>
</div>
<br />