@{
    ViewBag.Title = Resources.Strings.ActionKeys.UserControlPanel;
}
<style>
    .col-md-offset-1 {
        margin-right: 30px;
        margin-left: 30px;
    }

    .col-md-3 {
        margin-right: 30px;
        margin-left: 30px
    }

    .col-sm-12 {
        min-height: 32%;
    }
</style>


@{
    switch (Infrastructure.Sessions.AuthenticatedUser.Role)
    {
        case Enums.Roles.Programmer:
            {
                <div class="jumbotron" style="margin-top: 0; min-height: 200px;">
                    <div class="row">
                        <!-- ردیف 1 -->
                        <div class="row mb-3">
                            <a class="btn btn-primary col-md-3 col-sm-12 col-xs-12" href="/Administrator/Request/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">@Resources.Action.Request</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Request.png" />
                            </a>
                            <a class="btn btn-danger col-md-3 col-sm-12 col-xs-12 col-md-offset-1" href="/Administrator/Financial/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت قیمت</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                            <a class="btn btn-danger col-md-3 col-sm-12 col-xs-12" href="/Administrator/Financial/DestinationIndex/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت قیمت کرایه تا مقصد</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                        </div>

                        <!-- ردیف 2 -->
                        <div class="row mb-3">
                            <a class="btn btn-warning col-md-3 col-sm-12 col-xs-12" href="/Administrator/User/Index/" style="padding-top:20px; margin-top:10px; height:100px;">
                                <span style="float:right;">@Resources.Action.UserManagment</span>
                                <img style="float:left; margin-top:-12px;" src="../../../Content/Icon/UserSetting.png" />
                            </a>
                            <a class="btn btn-info col-md-3 col-sm-12 col-xs-12 col-md-offset-1" href="/Administrator/Province/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">استان‌های تحت پوشش</span>
                                <img style="float:left; margin-top:-12px; width:64px; height:64px;" src="../../../Content/Icon/map.png" />
                            </a>
                            <a class="btn btn-info col-md-3 col-sm-12 col-xs-12" href="/Administrator/City/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">شهرستان‌های تحت پوشش</span>
                                <img style="float:left; margin-top:-12px; width:64px; height:64px;" src="../../../Content/Icon/map.png" />
                            </a>
                        </div>

                        <!-- ردیف 3 -->
                        <div class="row mb-3">
                            <a class="btn btn-info col-md-3 col-sm-12 col-xs-12" href="/Administrator/Village/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">افزودن دهستان</span>
                                <img style="float:left; margin-top:-12px; width:64px; height:64px;" src="../../../Content/Icon/map.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="jumbotron" style="margin-top: 0; min-height: 200px;">
                    <div class="row">
                        <!-- ردیف 4 -->
                        <div class="row mb-3">
                            <a class="btn btn-success col-md-3 col-sm-12 col-xs-12" href="/Administrator/ProductName/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت کالا جدید</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                            <a class="btn btn-success col-md-3 col-sm-12 col-xs-12 col-md-offset-1" href="/Administrator/ProductType/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت نوع کالا</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                            <a class="btn btn-success col-md-3 col-sm-12 col-xs-12" href="/Administrator/PackageType/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت نوع بسته‌بندی</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                        </div>

                        <!-- ردیف 5 -->
                        <div class="row mb-3">
                            <a class="btn btn-success col-md-3 col-sm-12 col-xs-12" href="/Administrator/FactoryName/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت کارخانه</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                            <a class="btn btn-success col-md-3 col-sm-12 col-xs-12 col-md-offset-1" href="/Administrator/Tonnages/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت تناژ</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                            <a class="btn btn-warning col-md-3 col-sm-12 col-xs-12 col-md-offset-1" href="/Administrator/News/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت خبر</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                        </div>

                        <!-- ردیف 6 -->
                        <div class="row mb-3">
                            <a class="btn btn-success col-md-3 col-sm-12 col-xs-12" href="/Administrator/Inventoryamount/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ثبت میزان موجودی</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                            <a class="btn btn-info col-md-3 col-sm-12 col-xs-12 col-md-offset-1" href="/Administrator/Bank/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">حساب</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                            <a class="btn btn-info col-md-3 col-sm-12 col-xs-12 col-md-offset-1" href="/Administrator/TotalCompanyInventory/Index/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">موجودی شرکت</span>
                                <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                            </a>
                        </div>
                        
                        @*<div class="row mb-3">
                            <a class="btn btn-success col-md-3 col-sm-12 col-xs-12" href="/Administrator/Sms/Send/" style="padding-top:20px; margin-top:10px;">
                                <span style="float:right;">ارسال پیامک به کاربران</span>
                                <img style="float:left; margin-top:-5px; width: 50px; height : 50px" src="../../../Content/Icon/sms.png" />
                            </a>
                        </div>*@
                    </div>
                </div>
                break;
            }
    }
}

@{
    switch (Infrastructure.Sessions.AuthenticatedUser.Role)
    {
        case Enums.Roles.Marketer:
            {
                // در اینجا می‌توانید لینک‌های مخصوص بازاریاب‌ها را قرار دهید
                <!-- بخش مربوط به بازاریاب (خالی در حال حاضر) -->
                <div class="jumbotron" style="margin-top: 0; min-height: 200px;">
                    <div class="row mb-3">
                        <a class="btn btn-success col-md-3 col-sm-12 col-xs-12" href="/Markter/MarketingTransaction/Index/" style="padding-top:20px; margin-top:10px;">
                            <span style="float:right;">نمایش لیست تراکنش ها</span>
                            <img style="float:left; margin-top:-5px;" src="../../../Content/Icon/Report.png" />
                        </a>
                        <a href="@Url.Action("Index", "MarketingTransaction", new { area = "Markter" })">
                            نمایش لیست تراکنش ها
                        </a>

                    </div>
                </div>
    break;
    }
    }
    }

