@{
    ViewBag.Title = Resources.Strings.ActionKeys.UserControlPanel;
}

<div class="jumbotron" style="margin-top: 0px; min-height: 500px;">

    <div class="row">
        @{
            switch (Infrastructure.Sessions.AuthenticatedUser.Role)
            {
                case Enums.Roles.Programmer:
                    {
                        <div class="row" style="margin-bottom:15px;">
                            <a class="btn btn-info col-md-3" href="/Administrator/Request/Index/" style="padding-top:20px;">
                                <span style="float:right;">@Resources.Action.Request</span><img style="float: left; margin-top: -5px;" src='../../../Content/Icon/Request.png' />
                            </a>

                            <a class="btn btn-danger col-md-3 col-md-offset-1" href="/Administrator/Financial/Index/" style="padding-top:20px;">
                                <span style="float:right;">ثبت قیمت</span><img style="float: left; margin-top: -5px;" src='../../../Content/Icon/Report.png' />
                            </a>

                            <a class="btn btn-warning col-md-3" href="/Administrator/User/Index/" style="padding-top:20px;">
                                <span style="float:right;">@Resources.Action.UserManagment</span><img style="float: left; margin-top: -12px;" src='../../../Content/Icon/UserSetting.png' />
                            </a>
                        </div>
                        break;
                    }
            }
        }
    </div>
</div>
