@{
    ViewBag.Title = "راهنمای کاربران";
}
<h2>@ViewBag.Title</h2>
<br />
<div class="panel panel-info">
    <p class="panel-body" style="font-size: 16px; padding-top: 5px;">
        راهبران مربوطه در این بخش قرار داده شود.
    </p>
</div>
<br />