@{
    ViewBag.Title = "راهنمای کاربران";
}
@*<h2>@ViewBag.Title</h2>
    <br />*@
<style>
    .UserGuidImg::after {
        content: "راهنمای کاربران";
        position: absolute;
        color:red;
        top: 220px;
        white-space: pre;
        right: 58%;
        transform: translateX(50%);
        font-weight: bold;
        font-size: 50px;
    }
    .panel-info {
        width: 50%;
        transition-property: all;
        transition-duration: 1.5s;
    }

        .panel-info:hover {
            width: 100%;
        }
</style>
<div class="UserGuidImg">
    <img src="~/Content/Images/getty_590617706_2000150020009280408_361885.jpg" style="top: 0px; left: 0px; width: 100%; height:400px; z-index: -10; border: solid; border-width: 7px; border-color: #e1e1e1; -webkit-box-shadow: 0 7px 2px #777; -moz-box-shadow: 0 7px 2px #777; box-shadow: 0 7px 2px #777;" class="img-responsive">
</div>
<br />
<div class="panel panel-info">
    <h1 class="panel-heading" style="margin-top: 0px; padding-top: 10px; font-size: 20px; color:red">خریداران محترم لطفا قبل از خرید موارد زیر را مطالعه فرمایید:</h1>
    <p class="panel-body" style="font-size: 16px; padding-top: 5px;">
        با توجه به اینکه وزن دقیق هر محموله بعد از بارگیری 
        مشخص می شود، تفاوت وجه واریزی با قیمت دقیق محموله به صورت تلفنی به اطلاع خریدار رسیده و خریدار 
        و فروشنده موظف هستند بلافاصله بعد از مشخص شدن وزن دقیق محموله نسبت به انجام تسویه حساب اقدام کنند.
        در صورت انصراف از خرید، تا قبل از بارگیری، تمام وجه پرداختی به خریدار عودت داده می شود.
        خریدار موظف است حداکثر دو هفته بعد از خرید محموله خود را تحویل بگیرد.
        فروشنده موظف است، در صورت درخواست خریدار، حداکثر بعد از 3 روز کاری، محموله خریداری شده را به خریدار تحویل دهد.
        شرکت مصالح پخش برخط متعهد می شود در صورت بروز هر گونه مشکل در ارسال محموله مانند: تعطیلی کارخانه، محدودیت های حمل و نقلی، 
        حوادث غیر قابل پیش بینی و غیره، وجه پرداختی خریدار را حداکثر ظرف مدت 24 ساعت عودت دهد.
        با توجه به محل تخلیه و مسیر آن، امکان
        دارد قیمت محل تحویل تا حدود کمی با قیمت محاسبه شده در سایت متفاوت باشد. بعد از انجام خرید
        طی تماسی از سوی پرسنل مصالح پخش برخط، قیمت دقیق محموله در محل تخلیه به اطلاع خریدار رسانده می شود.

    </p>
</div>
<br />