<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DatabaseContext" connectionString="uid=sa;pwd=?12345pap?;Initial Catalog=NewOPS_Test;Data Source=10.100.21.2" providerName="System.Data.SqlClient"/>-->
    <add name="DatabaseContext" connectionString="Initial Catalog=Siman;Data Source=ALIZAKIZADEH\ALIZAKIZADEH; Persist Security Info=True; integrated security=true" providerName="System.Data.SqlClient" />
    <!--<add name="DatabaseContext"
    connectionString="Data Source=.;Initial Catalog=masalehp_dbname;User ID=masalehp_akhsh;Password=0129915Az@" providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer"
    connectionString="Data Source=.;Initial Catalog=masalehp_dbname;User ID=masalehp_akhsh;Password=0129915Az@" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://d.ivo.ir/IVOServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIVOServices" contract="IVOServices.IIVOServices" name="BasicHttpBinding_IIVOServices" />
      <endpoint address="https://ipg.cbinasim.ir:8443/ipgapp/services/IPGService" binding="basicHttpBinding" bindingConfiguration="IpgWebServiceExporterServiceSoapBinding" contract="CBINasimService.IPGService" name="IPGServicePort" />
      <endpoint address="http://d.ivo.ir/divo.asmx" binding="basicHttpBinding" bindingConfiguration="DIVOSoap" contract="TestIVO.DIVOSoap" name="DIVOSoap" />
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Sale/SaleService.asmx" binding="basicHttpBinding" bindingConfiguration="SaleServiceSoap" contract="ParsianPGWSaleServices.SaleServiceSoap" name="SaleServiceSoap" />
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/confirm/confirmservice.asmx" binding="basicHttpBinding" bindingConfiguration="ConfirmServiceSoap" contract="PasrianPGWConfirmServices.ConfirmServiceSoap" name="ConfirmServiceSoap" />
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Reverse/ReversalService.asmx" binding="basicHttpBinding" bindingConfiguration="ReversalServiceSoap" contract="ParsianPGWReversalServices.ReversalServiceSoap" name="ReversalServiceSoap" />
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Bill/BillService.asmx" binding="basicHttpBinding" bindingConfiguration="BillServiceSoap" contract="ParsianPGWBilPaymentlServices.BillServiceSoap" name="BillServiceSoap" />
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Sale/GovermentIdSaleService.asmx" binding="basicHttpBinding" bindingConfiguration="GovermentIdSaleServiceSoap" contract="GovermentSaleServices.GovermentIdSaleServiceSoap" name="GovermentIdSaleServiceSoap" />
      <endpoint address="http://10.7.1.40/getPersonInfo/GetingPersonByNationalIdAndBirthDate.asmx" binding="basicHttpBinding" bindingConfiguration="GetingPersonByNationalIdAndBirthDateSoap" contract="PersonInfoServices.GetingPersonByNationalIdAndBirthDateSoap" name="GetingPersonByNationalIdAndBirthDateSoap" />
      <endpoint address="http://10.7.1.40/GetPostinfo/postServices.asmx" binding="basicHttpBinding" bindingConfiguration="postServicesSoap" contract="GetPostinfoServices.postServicesSoap" name="postServicesSoap" />
      <endpoint address="http://d.ivo.ir/OPSReport.asmx" binding="basicHttpBinding" bindingConfiguration="OPSReportSoap" contract="ReportIVO.OPSReportSoap" name="OPSReportSoap" />
      <endpoint address="https://10.0.205.71:5050/behdad-account/accountservice" binding="basicHttpBinding" bindingConfiguration="AccountServiceImplServiceSoapBinding" contract="BehdadService.AccountService" name="AccountServiceImplPort" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <services>
      <service name="WCFServiceLibrary.OPSServices">
        <endpoint binding="basicHttpBinding" contract="WCFServiceLibrary.IOPSServices" />
      </service>
      <service name="WCFServiceLibrary.PaymentService">
        <endpoint binding="basicHttpBinding" contract="WCFServiceLibrary.IPaymentService" />
      </service>
    </services>
    <behaviors>
      <!--<endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <clientCertificate
              findValue="85.133.186.11"
              x509FindType="FindBySubjectName"
              storeLocation="LocalMachine"
              storeName="My" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>-->
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IIVOServices" />
        <binding name="OPSReportSoap" />
        <binding name="IpgWebServiceExporterServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="IpgWebServiceExporterServiceSoapBinding1" />
        <binding name="IpgWebServiceExporterServiceSoapBinding2" />
        <binding name="DIVOSoap" />
        <binding name="BillServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BillServiceSoap1" />
        <binding name="ReversalServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ReversalServiceSoap1" />
        <binding name="SaleServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SaleServiceSoap1" />
        <binding name="ConfirmServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ConfirmServiceSoap1" />
        <binding name="GovermentIdSaleServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="GovermentIdSaleServiceSoap1" />
        <binding name="GetingPersonByNationalIdAndBirthDateSoap" />
        <binding name="postServicesSoap" />
        <binding name="AccountServiceImplServiceSoapBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <!-- ************************************************** -->
    <add key="IVOReferrUrl" value="http://localhost:42932/UsersImports/ApprovePayment.aspx" />
    <!--<add key="IVOReferrUrl" value="http://d.ivo.ir/UsersImports/ApprovePayment.aspx"/>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- ************************************************** -->
    <add key="userName" value="100000020" />
    <add key="password" value="vlCxwyY3NWVh!Pc0bBzX" />
    <add key="WCFServiceAddress" value="net.tcp://localhost:8083//QBService" />
    <add key="WCFTimeoutSeconds" value="600" />
    <!--
    Both = 0,
    LogToFile = 1,
    SendByEmail = 2
    -->
    <add key="DefaultLogType" value="0" />
    <add key="ApplicationLogRootRelativePathName" value="~/App_Data/Logs/Application.log" />
    <!-- ************************************************** -->
    <add key="SmtpClientEnableSsl" value="1" />
    <add key="SmtpClientTimeout" value="100000" />
    <add key="SmtpClientPortNumber" value="587" />
    <add key="SmtpClientHostAddress" value="smtp.gmail.com" />
    <add key="EmailSubjectTemplate" value="[www.pap-ict.ir] - {0}" />
    <add key="SupportEmailAddress" value="hadi.salari2000@Gmail.com" />
    <add key="SupportDisplayName" value="سازمان دامپزشکی واحد فاوای سازمان-- 88953400 (2113)" />
    <add key="SenderEmailPassword" value="123xyz" />
    <add key="SenderEmailAddress" value="me.ghomashchi@ivo.ir" />
    <add key="SenderDisplayName" value="[www.pap-ict.ir] - Authomatic Sending Email Service" />
    <add key="BccAddresses" value="hadi.salari2000@Gmail.com" />
    <!-- ************************************************** -->
    <add key="LoginAccount" value="3jrYynUhBQp335d2xbur" />
    <add key="ParsianPGWBillServiceUrl" value="https://pec.shaparak.ir/NewIPGServices/Bill/BillService.asmx" />
    <add key="ParsianPGWSaleServiceUrl" value="https://pec.shaparak.ir/NewIPGServices/Sale/SaleService.asmx" />
    <add key="ParsianPGWGovermentIdSaleServiceUrl" value="https://pecco.shaparak.ir/NewIPGServices/Sale/GovermentIdSaleServiceSw2.asmx" />
    <add key="ParsianPGWConfirmServiceUrl" value="https://pec.shaparak.ir/NewIPGServices/Confirm/ConfirmService.asmx" />
    <add key="ParsianPGWConfirmServiceSW2Url" value="https://pecco.shaparak.ir/NewIPGServices/Confirm/ConfirmService.asmx" />
    <add key="ParsianIPGPageUrl" value="https://pec.shaparak.ir/NewIPG/?token={0}" />
    <add key="ParsianIPGPageSW2Url" value="https://pecco.shaparak.ir/NewIPG/?token={0}" />
    <add key="BillPaymentCallback" value="https://pec.shaparak.ir/PecPGWSamples/ParsianPGWBillPayment/BillPaymentCallback" />
    <!--<add key="SalePaymentCallback" value="http://10.100.0.26:8090/ParsianPGWSalePayment/PaymentCallback" />-->
    <add key="SalePaymentCallback" value="https://ops.ivo.ir/ParsianPGWSalePayment/PaymentCallback" />
    <!--<add key="SalePaymentCallback" value="http://localhost:6014/ParsianPGWSalePayment/PaymentCallback" />-->
    <add key="ReversalServiceUrl" value="https://pec.shaparak.ir/NewIPGServices/Reversal/ReversalService.asmx" />
    <add key="ReversalServiceSW2Url" value="https://pecco.shaparak.ir/NewIPGServices/Reversal/ReversalService.asmx" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5.2" />-->
    <!--برازنده-->
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <!--<customErrors mode="Off" defaultRedirect="~/Error/Unexpected">-->
    <!--برازنده-->
    <customErrors mode="Off" defaultRedirect="~/Error/InvalidRequest">
      <!--آدرس صفحه خطای درست حسابی-->
      <error statusCode="400" redirect="~/Error/InvalidRequest" />
      <!--<customErrors mode="On" defaultRedirect="~/Error/Unexpected">-->
      <!--<error statusCode="400" redirect="~/Error/BadRequest" />-->
    </customErrors>
    <sessionState timeout="60" mode="InProc" cookieless="UseCookies" cookieName="645ed21e-8466-4281-b5b3-0e22d501f2e8" />
    <authentication mode="Forms">
      <forms timeout="70" loginUrl="~/Account/Login" cookieless="UseCookies" name="d2e4969e-b5be-4a72-8038-4a43d6eb857d" protection="All" requireSSL="false" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.6.0" newVersion="5.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5022.0" newVersion="2.0.5022.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.65.2.0" newVersion="0.65.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <OPS.Properties.Settings>
      <setting name="OPS_ir_shaparak_sadad_MerchantUtility" serializeAs="String">
        <value>https://sadad.shaparak.ir/MerchantUtility.asmx</value>
      </setting>
    </OPS.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 6B20E15F-BF5A-4EA8-B9E8-FC4AD7FE32A9-->